<h1 class="header">Choose your vehicle...</h1>
<div class="car-wash-options">
	<a href="/wash/car"><div class="car-wash-option car">
		<h1>Car</h1>
	</div></a><a href="/wash/truck"><div class="car-wash-option truck">
		<h1>Truck</h1>
	</div></a>
</div>
